name: Node.js CI - reusable 1
on:
  workflow_dispatch:
  push:

jobs:
  ci:
    name: run build process
    uses: Cert-Organization/GHA.workflows/.github/workflows/gha.workflows.build-node.yml@main